body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3e5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #7e57c2;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #9575cd;
}

nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #b39ddb;
}

main {
    padding: 20px;
    flex: 1;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

article {
    margin: 10px;
    flex: 1 1 180px;
    max-width: 220px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
}

article img {
    width: 100%;
    height: auto;
}

.descricao {
    text-align: center;
    font-weight: 500;
    color: black;
}

.preco {
    text-align: center;
    font-weight: 500;
    color: #7e57c2;
}

section {
    background-color: #d1c4e9;
    padding: 20px;
}

footer {
    background-color: #7e57c2;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    position: static;
    width: 100%;
}

